body {
  font-family: Helvetica;
  margin: 0;
}

/* nav {
  padding: 20px;
  border-bottom: 1px solid #eee;
} */
 .navbar {
  position: fixed;
  top: 0;
  width: 100%;

  background: rgba(255,255,255,0.9);
  backdrop-filter: blur(10px);

  border-bottom: 1px solid var(--line);
  padding: 14px 28px;

  z-index: 1000;
}

.navbar a {
  margin-right: 18px;
  text-decoration: none;
  color: var(--text);
  font-size: 13px;
  letter-spacing: 1px;

  transition: var(--transition);
}

.navbar a:hover {
  opacity: 0.6;
}

.container {
  padding: 100px 40px;
}

input, textarea {
  width: 100%;
  border: none;
  border-bottom: 1px solid #ddd;
  margin: 10px 0;
  padding: 10px;
}

button {
  padding: 12px;
  background: black;
  color: white;
  border: none;
}