html {
    scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: #333;
  padding: 15px;
  z-index: 1000;
}

.navbar a {
  color: white;
  margin-right: 15px;
  text-decoration: none;
  transition: 0.2s ease;
}

.navbar a:hover {
  color: #4CAF50;
}

.container {
  padding: 20px;
}

/* ABOUT */
#about {
  margin-bottom: 40px;
}

.about-box {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.about-box div {
  flex: 1;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 8px;
}

/* CONTACT */
.contact-box {
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
}

input, textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background: green;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background: darkgreen;
}

.hidden {
  display: none;
}

/* BACKDROP */
.modal {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: rgba(0,0,0,0.6);

  display: flex;
  justify-content: center;
  align-items: center;
}

/* BOX */
.modal-content {
  background: white;
  padding: 20px;
  width: 300px;
  border-radius: 10px;
  text-align: center;
}

/* IMAGE */
.modal-content img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
}

/* CLOSE BUTTON */
.close {
  float: right;
  font-size: 24px;
  cursor: pointer;
}

/* HIDE */
.hidden {
  display: none;
}